/*
COLOR PALETTE

*/

/* GLOBAL STYLES
----------*/
body {
    background: #f4edde;
}

/* links */
a {
    color: red;
}
a:hover {
    color: aquamarine;
    text-decoration: none;
}
footer a {
    color: red;
}
footer a:hover {
    color: aquamarine;
}
.btn {
    background: tan;
    color: black;
    text-decoration: none;
}

/* HOME
----------*/
.home {
    background: url(../images/sprouttess.png) no-repeat;
    background-size: cover;
}
.home.content-wrapper {
    background: rgb(255 255 255 / 0.9);
}

/* RESUME
----------*/


/* PROFILE
----------*/


/* PROJECTS
----------*/


/* WORK EXPERIENCE
----------*/


/* EDUCATION
----------*/


/* FOOTER
----------*/
footer {
    background: #222;
    color: #d3d4d6;
}