/*
COLOR PALETTE

*/

/* GLOBAL STYLES
----------*/
html {
    box-sizing: border-box;
}

*, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    background: #f4edde;
    margin: 0;
}

/* links */
a {
    color: red;
}
a:hover {
    color: aquamarine;
    text-decoration: none;
}
footer a {
    color: red;
}
footer a:hover {
    color: aquamarine;
}
.btn {
    background: tan;
    color: black;
    text-decoration: none;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}

/* HOME
----------*/
.home {
    background: url(../images/sprouttess.png) no-repeat;
    background-size: cover;
}
.home.content-wrapper {
    background: rgb(255 255 255 / 0.9);
}

/* RESUME
----------*/
.resume header::before {
    background: url(../images/sprouttess.png) center;
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}
.resume-section {
    margin-bottom: 50px;
}
.resume-section h2 {
    border-bottom: 2px dashed black;
}
.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
}

/* PROFILE
----------*/


/* PROJECTS
----------*/
.project-item {
    display: flow-root;
    margin: 30px 0;
}
.project-item img {
    width: 300px;
    float: left;
    margin-right: 20px;
}

/* WORK EXPERIENCE
----------*/


/* EDUCATION
----------*/


/* FOOTER
----------*/
footer {
    background: #222;
    color: #d3d4d6;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.socials {
    list-style-type: none;
    padding: 0;
}
.socials li {
    display: inline-block;
    margin-left: 10px;
}
.socials img {
    width: 32px;
}
.socials img:hover {
    opacity: 0.5;
}