/*
COLOR PALETTE

*/

/* GLOBAL STYLES
----------*/
body {
    background: #f4edde;
}

/* HOME
----------/*


/* RESUME
----------/*


/* PROFILE
----------/*


/* PROJECTS
----------/*


/* WORK EXPERIENCE
----------/*


/* EDUCATION
----------/*


/* FOOTER
----------/*